.h1{
    top: 20%;
    font-style: initial;
}
.first{
    display: flex;
    margin-left: 40%;
}
.h{
    width: 80%;
    height: 10%;
}
.e{
    width: 80%;
    height: 10%;

}
.d{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.second:hover{
    color: rgba(244, 94, 7, 0.76);
    cursor: pointer;
    

}
.second{
    color: black;
    background-color:lightgrey;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;

}