
*
{
    margin: 0%;
    padding: 0%;
    background-color: lightblue;
}
.head h1.a{
    margin-left: 40%;
    width: 30%;
    color: red;
    cursor: pointer;
    
}
.head h1.a:hover{
    background-color: yellow;
}
.head .b{
    margin-left: 40%;
    margin-top: 3%;
}
.head .c{
    margin-left: 40%;
    margin-top: 3%;
}
.head .d{
    margin-left: 40%;
    margin-top: 3%;
}
.head .e{
    margin-left: 40%;
    margin-top: 3%;
}
.head .f{
    margin-left: 40%;
    margin-top: 3%;
}    
.head .g{
    margin-left: 40%;
    margin-top: 3%;
}
