#topbar{
    background-color: black;
    height: 10px;
    width: 100%;

}
.container{
    margin: 50px;
    width: 50%;
    padding: 2px;
}
img{
    float: left;
    width: 350px;
    height: 250px;
    padding: 10px 10px 10px 10px;
    background-color: beige;
}

.text{
    background-color: blueviolet;
    position: absolute;
    top: 90px;
    left: 450px;
    padding: 10px;
    
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.lathangi{
    background-color: blueviolet;
    position: absolute;
    top: 500px;
    left: 450px;
    padding: 10px;
   
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.sample{
    float: left;
    width: 350px;
    height: 250px;
    top: 50%;
    padding: 10px 10px 10px 10px;
    background-color: beige;
}