#Hari{
    background-color:mintcream
}
h1{
    font-size:xx-large;
    color:maroon;
}
p{
    margin-left: 45%;
    margin-top: -23%;
    font-style: italic;
    font-size: x-large; 
    color:black;

}
img{
    width: 250px;
    height:300px;
    margin-left:15%;
    border-radius: 10%;
}