#rag
{ 
    background-color:whitesmoke;
    margin-top: 20px;
    padding-inline: 30px;
}
h1
{
    color: red;
    padding: top 10px;
    font-size:larger;
} 
p
{
    color: black;
    font-size: larger;
}