*{
    margin: 0px 0px 0px 0px;
}
html{
    background-color:rgb(143, 197, 188);
}
h1{
    background-color: blue ;
    color: #fff;
}
.first{
    margin-left: 500px;
    margin-top: 30px;
    font-size: 40px;
    color: blue;
}
.second{
    margin-right: 700px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.third{
    margin-right: 700px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.four{
    margin-right: 600px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.five{
    margin-right: 700px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.six{
    margin-right: 700px;
    margin-left: 520px;
    font-size:large;
    color: black;
}
.seven{
    margin-right: 800px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.eight{
    margin-top: -37px;
    margin-left: 590px;
    margin-right: 700px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.nine{
    margin-top: -37px;
    margin-left: 690px;
    margin-right: 600px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.ten{
    margin-right: 700px;
    margin-left: 520px;
    font-size:large;
    color: black;
}
.eleven{
    margin-right: 800px;
    margin-left: 500px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.twelve{
    margin-top: -37px;
    margin-left: 590px;
    margin-right: 700px;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
.thirteen{
    margin-left: 500px;

}
.fourteen{
    margin-left: 500px;
    margin-right: 800px;
    text-align: center;
    background-color: green;
    border-radius: 10px;
    color: #fff;
}
