*{
    margin: 0;
}

.header_left img{
    height: 40px;

}

.img_avatar{
    width: 40px;
    border-radius: 5px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    box-shadow: 0 5px 8px -9px rgba(0, 0,0, 0.75);
}
.header_left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header_input input{
    border: none;
    background-color: transparent;
    outline: none;
}
.header_middle{
    display: flex;
    flex: 1;
    align-items: center;
}
.header_option .fa-solid{
    font-size: xx-large;
    color: gray;
    
}
.header_option .fa-brands{
    font-size: xx-large;
    color: gray;
}
.header_option:hover .fa-solid {
    color: #2e81f4;

}
.header_option:hover .fa-brands {
    color: #2e81f4;

}
.header_option{
    display: flex;
    align-items: center;
    padding: 0 40px;
    cursor: pointer;
}
.header_option.active .fa-solid{
    color: #2e81f4;
}
.header_option.active{
    color: #2e81f4;
    border-bottom: 4px solid ;
}
.header_option:hover{
 background-color: #eff2f5;
 border-radius: 10px;
 align-items: center;
 padding: 0 20px;
 border-bottom: none;
}
.header_info{
    display: flex;
    align-items: center;
}
.header_info h4{
    margin-left: 10px;

}
.header_right{
    display: flex;
    align-items: center;
}
.header_right .fa-solid{
    color: gray;
    margin: 0 10px;
    cursor: pointer;

}
.header_right .fa-brands{
color: gray;
margin: 0 10px;
cursor: pointer;
}
.sidebar_row{
    display: flex;
    align-items: center;
    padding:10px;
    cursor: pointer;
}
.sidebar_row:hover{
    background-color: lightgray;
    border-radius: 10px;
}
.sidebar_row h4{
    margin-left: 20px;
    font-weight: 600;
}
.sidebar_row .fa-solid{
    font-size: xx-large;
    color: rgb(0,98,255);
}
.sidebar_row .fa-brands{
    font-size: xx-large;
    color: rgb(0, 98, 255);
}
.h4{
    position:relative;
    display: flex;
    width: 120px;
    height: 200px;
    

}