h1 {
    background-color: rgb(255, 185, 9);
    
}
p {
   background-color: rgb(255, 255, 255);
   margin: 0%;
   padding: 0%;
   font-family:  sans-serif;
   background: rgb(5, 147, 114);
   position: absolute;
   top: 70%;
   left: 80%;
   transform: translate(-70%,-80%);
   padding: 20px;
   box-sizing: border-box;
   background-color: orangered;
   border-radius: 4%;
   box-shadow: 0 5px 15px rgba(0,0,0,.5);
   display: flex;
}
img {
    width: 700px;
}
p2 
{
 position: absolute;
 bottom: 3%;
 padding: 2%;
 margin: 0%;
    
}
 
    
