*{
    margin: 0px;
    padding: 0px;
}
.main{
    text-align: center;
    background-color: blue;
    height: 50px;
}
.card{
    
    padding: 5rem;
    flex-basis: 30%;
    display:inline-block;
    border-radius: 50px;
    border-style: solid;
    margin-left: 30px;
}
.main1{
    
    font-style: calc();
    display: flex;
    flex-direction: column;
    
    
}
.card:hover{
    background-color: yellow;
}