h2 {
    background-color: black;
    text-shadow: 2px 30px;
}
p {
    color: red;
    font-size: 30px;
    font-family:  Helvetica;
    padding-bottom: 30px;
    padding-top: 30px;
    padding: 30px 30px 30px;
}
p {
    color: red;
    font-size: 30px;
    font-family: Helvetica;
    margin-bottom: 70px;
    margin-top: 70px;
    margin: 70px 70px 70px;
}