*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    margin-top: 5%;
}
.content-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 600px;
    width: 1500px;
    position: relative;
    max-width: 95%;

}

.scarecrow{
    left: 2%;
    position: absolute; 
}

.scarecrow img{
    height: 100%;
    object-fit: cover;
    display: block;
    width: 70%;
}

.content{
    padding: 10px;
    width: 40%;
    top: 30%;
    right: 5%;
    position: absolute;
}
.content h2{
    font-size: 60px;
 }

.content p{
    font-size: 20px;
}

.content button{
    border: none;
    background-color: #333333;
    padding: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 3px;
}

footer{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px){
    .content-main{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color: red;

    }
}